.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  flex-wrap: wrap;
}

.navbar-brand {
  display: flex;
  align-items: center;
  position: relative;
}

.menu-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

.menu-btn:hover, .menu-btn:active {
  opacity: 0.8;
}

.menu-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  border: 1px solid #555;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.menu-item img {
  margin-right: 0.5rem;
}

.menu-item:hover, .menu-item:active {
  background-color: #555;
}

.brand-name img {
  height: 15px;
}

.document-info {
  display: flex;
  align-items: center;
}

.document-info img {
  margin-right: 0.5rem;
}

.document-name {
  font-size: 1rem;
}

.navbar-actions {
  display: flex;
  align-items: center;
}

.delete-btn, .save-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.delete-btn img, .save-btn img {
  margin-right: 0.5rem;
}

.delete-btn:hover, .delete-btn:active,
.save-btn:hover, .save-btn:active {
  opacity: 0.8;
}

.save-btn {
  background-color: #ff5722;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: medium;
}

.save-btn:hover, .save-btn:active {
  background-color: #e64a19;
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-brand, .document-info, .navbar-actions {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  .navbar-brand {
    justify-content: space-between;
  }

  .menu-btn {
    margin-left: auto;
  }

  .navbar-actions {
    justify-content: flex-end;
  }
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #222;
  color: #fff;
}

body.dark-mode .navbar {
  background-color: #555;
}

body.dark-mode .menu-dropdown {
  background-color: #666;
  border-color: #777;
}

body.dark-mode .menu-item:hover, body.dark-mode .menu-item:active {
  background-color: #777;
}
